---
import BaseHead from '../components/BaseHead.astro';
import Bio from '../components/Bio.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div class="layer-base">
      <Bio />
      <div class="postings">
        <h2 class="postings__desc text-sans">My thoughts on Design Systems & VueJs.</h2>
        <ul class="postings__list">
          {
            posts.map((post) => (
              <li class="postings__item">
                <div class="posting__title text-sans">{post.frontmatter.title}</div>
                <p class="posting__desc">
                  {post.frontmatter.description} 
                  <a href={post.url}>Read More&#8230;</a>
                </p>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </body>
</html>
