---
import BaseHead from '../components/BaseHead.astro';
import Bio from '../components/Bio.astro';

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
    tags?: string[];
	};
}

const {
  content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
    </style>
  </head>

  <body>
    <div class="layer-base">
      <Bio />
      <article class="article">
        <a href="/" class="article__back text-no-underline">&larr; Back</a>
        {heroImage && <img src={heroImage} alt="" />}
        <h1 class="title">{title}</h1>
        {pubDate && <time class="time">{pubDate}</time>}
        {
          updatedDate && (
            <div>
              Last updated on <time>{updatedDate}</time>
            </div>
          )
        }
        <hr />
        <slot />
      </article>
    </div>
  </body>
</html>
